<a href="https://colab.research.google.com/github/rogvidarge/super-octo-fiesta/blob/main/test_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Flowtale Test Tasks

## Debugging Tasks

In [ ]:
# Syntax errors:
list_of_nums = [1, 2, 3, 4
for i in list_of_nums
  print(j)

# Expected output:
# 1
# 2
# 3
# 4

In [ ]:
# Logic errors
def number_is_even(number):
  if number % 2 != 0:
    print("This number is even")

number_is_even(10)

# Expected output: "This number is even"

In [ ]:
# Indexing mistakes
def factorial(n):
    result = 1
    for i in range(2, n):
        result *= i
    return result

print(factorial(5))

# Expected output: 120
# Hint: 4! = 24

In [ ]:
# Programatical errors:
import pandas as pd
pd_dict = [{'Name': 'Adam', 'Age': 10, 'Height': 140},
           {'Name': 'Bob', 'Age': 12, 'Height': 120},
           {'Name': 'Clarke', 'Age': 13, 'Height': 130}]
df = pandas.DataFrame(pd_dict)
print(mean(df['Age']))

# Expected output: 11.6

In [ ]:
# Type errors:
import pandas as pd
pd_dict = [{'Name': 'Adam', 'Age': "10", 'Height': 140},
           {'Name': 'Bob', 'Age': "12", 'Height': 120},
           {'Name': 'Clarke', 'Age': "13", 'Height': 130}]
df = pd.DataFrame(pd_dict)
# ?
df['Age'].mean()

# Expected output: 11.6

## Algorithmic Challenge

In [ ]:
# Task: Calculate the nth Fibonacci number
# The Fibonacci sequence is a series where the next term is the sum of the previous two terms.
# The first two terms of the Fibonacci sequence are 0 and 1.

def fibonacci(n: int) -> int:
    ...

# Test the function
n = 10  # Example, find the 10th Fibonacci number, which should be 55
print(f"The {n}th Fibonacci number is: {fibonacci(n)}")